# *.o

/box.out
/garbage/*
!/garbage/.gitkeep

/bmp_*.out
/bmp_*.out

/garbage*.bmp
/un1gfn*.bmp
/reddit*.bmp

/libreboot-2021????_x200_4mb.tar.xz
/x200_4mb

/crossgcc_tarballs
!/crossgcc_tarballs/.gitkeep

/ich9utils
